<%= link_to article do %>
<div class="resource-card">
  <div class="resource-header">
    <div class="resource-title-author">
      <div class="resource-title">
        <h5><strong><%= article.title %></strong></h5>
      </div>
      <p><%= article.author %></p>
    </div>
    <div class="resource-format">
      <p><i class="fa-brands fa-readme"></i></p>
    </div>
  </div>
  <div class="card-image">
    <%# <%= image_tag(article.thumbnail_url) %> %>
    <div class="card-tags">
      <p>Cooking</p>
    </div>
    <div class="card-details">
      <div class="resource-likes">
        <p><i class="fa-solid fa-eye"></i></i><strong> <%= article.views.count %>  </strong><i class="fa-solid fa-thumbs-up"></i><strong> <%= article.likes.count %> </strong></p>
      </div>
    </div>
  </div>
</div>
<% end %>
