<%= link_to article do %>
<div class="resource-card">
  <div class="resource-header">
    <div class="resource-title-author">
      <div class="resource-title">
        <h5><strong><%= article.title %></strong></h5>
      </div>
      <p><%= article.author %></p>
    </div>
    <div class="resource-format">
      <p><i class="fa-brands fa-readme"></i></p>
    </div>
  </div>
  <div class="card-image">
    <% case article.author %>
      <% when "El País" %>
        <%= image_tag("El_Pais.png") %>
      <% when "El Mundo" %>
        <%= image_tag("El_Mundo.png")%>
      <% when "BBC" %>
        <%= image_tag("bbc.png") %>
      <% when "CNN Español" %>
        <%= image_tag("cnn.png")%>
      <% else %>
        <%= image_tag("articles.png") %>
    <% end %>
    <div class="card-tags">
      <% article.tag_list.each do |tag| %>
      <p>
      <%= tag %>
      </p>
      <% end %>
    </div>
    <div class="card-details">
      <div class="resource-likes">
        <div class="views" style="margin-right: 18px;">
          <p><i class="fa-solid fa-eye"></i></i><strong> <%= article.views.count %> </strong></p>
        </div>
        <div class="likes">
          <p><i class="fa-solid fa-thumbs-up"></i><strong> <%= article.likes.count %></strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
