<div class="container-lg-bordered">
  <div class="row">
    <%= image_tag "articles_cropped.png", alt: "image of newspaper", id: "articles" %>
  </div>

  <div class="row mt-4">
    <div class="d-flex justify-content-around w-100">
      <div style="width:680px;">
        <h2><strong><%= @resource.title %></strong></h1>
        <h4>by <%= @resource.author %></h3>
        <br>
        <%= link_to "Read article", @resource.url %>
      </div>

      <div class="comments-container box-shadow-basic round-corners ml-4">
        <%= render "shared/comments", resource: @resource %>
        <%= render "shared/new_comment_form", resource: @resource %>
      </div>
    </div>
  </div>

  <%# <%= link_to "Add a review", resource_reviews_path(@resource) %>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>
