<div class="container-transp">

  <%= render "shared/resource_title", resource: @resource %>
  <%= link_to "Read article", @resource.url, class: "btn my-4 btn-info w-25 mt-0 mb-4" %><br>

  <div class="d-flex justify-content-between">

    <div class="resource-comments-container">
      <%= image_tag "articles_cropped.png", alt: "image of newspaper", id: "articles" %><br>
      <%= render "shared/interactions" %>
      <div class="comments-container">
        <h2 class="pb-2">Comments</h2>
        <%= render "shared/comments", resource: @resource %>
        <%= render "shared/new_comment_form", resource: @resource %>
      </div>
    </div>

    <div class="sidebar">
      <%= render "shared/reviews", resource: @resource %>
      <%= render "shared/translator" %>
      <%= render "shared/new_word_form" %>
      <h5 class="blue-text">More like this...</h5>
      <div class="related-container">
        <%= render @related_resources %>
      </div>
    </div>

  </div>
</div>
