<div class="container">
  <%= render "shared/resource_title", resource: @resource %>
  <br>

  <div class="d-flex justify-content-between container-lg box-shadow-basic p-5">
    <div class="d-flex flex-column align-items-end">
      <%= image_tag "articles_cropped.png", alt: "image of newspaper", id: "articles" %>
      <%= link_to "Read article", @resource.url %>
        <div class="d-flex justify-content-between">
          <%= render "shared/reviews", resource: @resource %>
        </div>
    </div>

    <div class="comments-container ml-4">
      <%= render "shared/comments", resource: @resource %>
      <%= render "shared/new_comment_form", resource: @resource %>
    </div>
  </div>

</div>
