<div class="container">
  <h1>Edit user details:</h1>
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :first_name %><br><br>
    <%= f.input :last_name %><br><br>
    <%= f.input :photo%><br><br>
    <%= f.input :email %>
    <%= f.input :bio %>
    <%= f.input :native_language %>
    <%= f.input :target_language %>
    <%= f.submit %>
  <% end %>

</div>
