<div class="container-lg-bordered box-shadow-basic">

  <%= render 'shared/resource_title', resource: @resource %>
  <br>
  <div class="d-flex justify-content-around w-100">
    <div>
      <iframe width="680" height="380" src="https://www.youtube.com/embed/<%= @resource.url_id %>"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <%= render "shared/interactions" %>
    </div>

    <div class="comments-container ml-4">
      <%= render "shared/comments", resource: @resource %>
      <%= render "shared/new_comment_form", resource: @resource %>
    </div>
  </div>
  <br>
  <br>
</div>
