<div class="container-transp">

  <%= render 'shared/resource_title', resource: @resource %>

  <div class="d-flex justify-content-between">

    <div class="resource-comments-container">
      <iframe width="100%" height="480" src="https://www.youtube.com/embed/<%= @resource.url_id %>"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <%= render "shared/interactions" %>
      <div class="comments-container">
        <h2 class="pb-2">Comments</h2>
        <%= render "shared/comments", resource: @resource %>
        <%= render "shared/new_comment_form", resource: @resource %>
      </div>
    </div>

    <div class="sidebar">
      <%= render "shared/reviews", resource: @resource %>
      <%= render "shared/translator", word: @word %>
      <div class="border-top pt-5">
        <h5 class="add-word-header">Add a word to your vocabulary list</h5>
        <%= render "shared/new_word_form" %>
      </div>
      <div class="mt-5 pt-4 border-top">
        <h5>You may also be interested in...</h5>
      </div>
      <div class="related-container">
        <%= render @related_resources %>
      </div>
    </div>

  </div>

</div>
