<%= link_to song do %>
<div class="resource-card">
  <div class="resource-header">
    <div class="resource-title-author">
      <div class="resource-title">
        <h5><strong><%= song.title %></strong></h5>
      </div>
        <p><%= song.author %></p>
    </div>
    <div class="resource-format">
      <p><i class="fa-solid fa-music"></i></p>
    </div>
  </div>
  <div class="card-image">
    <img src="<%= song.thumbnail_url %>">
    <div class="card-tags">
      <% song.tag_list.each do |tag| %>
      <p>
      <%= tag %>
      </p>
      <% end %>
    </div>
    <div class="card-details">
      <div class="resource-likes">
        <p><i class="fa-solid fa-eye"></i></i><strong> <%= song.views.count %></strong><i class="fa-solid fa-thumbs-up"></i> <strong><%= song.likes.count %></strong></p>
      </div>
    </div>
  </div>
</div>
<% end %>
