<div class="container-lg-bordered box-shadow-basic">
  <%= render "shared/resource_title", resource: @resource %>
  <br>
  <div class="d-flex justify-content-around w-100">
    <div class="d-flex flex-column align-items-end">

      <p style="font-size:13px; font-weight:400;" class= "mb-2">Note: You have to be logged into your Spotify account to listen to the full song.</p>

      <iframe src="<%=@resource.url%>" width="680" height="450" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

      <%= render "shared/interactions" %>
    </div>

    <div class="comments-container ml-4">
      <%= render "shared/comments", resource: @resource %>
      <%= render "shared/new_comment_form", resource: @resource %>
    </div>
  </div>
  <br>
  <br>
</div>
