  <h2 class="index-h2">Spotlight</h2>
  <div class="spotlight-feature">

    <div class= "flip-container">
      <div class="featured-content">
        <div class= "featured-content-front">
          <img src= "<%= @spotlight_resource.thumbnail_url %>">
        </div>

        <div class="featured-content-back">
          <%= link_to @spotlight_resource do %>
          <h3><strong><%= @spotlight_resource.title %></strong></h3>


          <h4>by <%= @spotlight_resource.author %></h4>
            <% case @spotlight_resource.type %>
              <% when "Video" %>
                <i id="spotlight-icon" class="fa-solid fa-video"></i>
              <% when "Podcast" %>
                <i id="spotlight-icon" class="fa-solid fa-podcast"></i>
              <% when "Song" %>
                <i id="spotlight-icon" class="fa-solid fa-music"></i>
              <% when "Article" %>
                <i id="spotlight-icon" class="fa-brands fa-readme"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class= "spotlight-comments">
      <h4>See what the community is saying</h4>
      <%= render "shared/comments", resource: @spotlight_resource %>
    </div>
  </div>
