<div class="banner">
  <div class="container">
    <h1 class="text-white"><strong>Level up your language</strong></h1>
    <p><strong>Welcome to your personalised feed</strong></p>

    <div class="input-group rounded w-50">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
</div>

<div class="index-container">

  <h2>Spotlight</h2>
  <div class="featured-content">
    <%= image_tag("fridakahlo.png") %>

    <div class="featured-content-info">
      <h3><strong>Un recorrido por un lado distinto de la vida de Frida Kahlo</strong></h3><a href= "/videos/3"><i id="video-spotlight-icon" class="fa-solid fa-video"></i></a>
      <h4>by National Geographic Latinoamérica</h4>
      <p>National Geographic en conjunto con Paulina Erandi Ramírez Ochoa, investigadora y curadora del Estudio Museo Casa Diego Rivera y Frida Kahlo, hacen un recorrido dentro del Estudio Museo Casa de Diego Rivera y Frida Kahlo, un espacio de intimidad y trabajo creado por el artista Juan O’Gorman especialmente para Diego y Frida.</p>
    </div>
  </div>

  <h2>Top rated</h2>
    <div class="card-container">
        <%= render @top_resources %>
    </div>
    <div class="arrow w-100 d-flex justify-content-end"><i class="fa-solid fa-angles-right"></i></div>


  <h2>Just for you</h2>
  <div class="card-container">
    <%= render @resources_for_you %>
  </div>
  <div class="arrow w-100 d-flex justify-content-end"><i class="fa-solid fa-angles-right"></i></div>

  <h2>Discover something new</h2>
   <div class="card-container">
    <%= render @random_resources %>
  </div>
  <div class="arrow w-100 d-flex justify-content-end"><i class="fa-solid fa-angles-right"></i></div>

  <h2>Listen now</h2>
  <div class="card-container">
    <%= render @audio_resources %>
  </div>
  <div class="arrow w-100 d-flex justify-content-end"><i class="fa-solid fa-angles-right"></i></div>
</div>
