<div class="banner">
  <div class="container">
    <h1><strong>Level up your language</strong></h1>
    <div class="d-flex">
      <h4 class="mt-3"><strong>Welcome to your personalised feed</strong></h4>
      <div class="my-tooltip" id="feed-tool-tip"><h5><i id="feed-tooltip-icon" class="fa-solid fa-circle-question"></i></h5></i>
        <p class="my-tooltiptext">See content that has been chosen to match your interests.<br> Let us know what you like <%= link_to "here!", my_account_path(current_user) %></p>
      </div>
    </div>
    <p>Browse videos, songs, podcasts and articles, selected just for you.</p>

    <div class="search-field w-50">
      <%= form_tag resources_search_results_path, class: "resource-search d-flex", method: :get do %>
      <div class= "search-bar w-75">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control text-input round-left-corners",
          placeholder: "Search"
        %>
        <%= button_tag :submit, id: "home-search", class: "btn search-button" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
      <p id="filter-text" class="mt-3">Add filters to your search:</p>
      <div class="filters">
        <% @tags.each do |tag|%>
        <%= check_box_tag 'tag[]', tag.name, false, class: "filter-tags", id: tag.name %>
        <label for="<%= tag.name%>"><%= tag %></label>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div id="index-container-transp" class="container-transp">

  <%= render "spotlight" %>


  <h2 class="index-h2">Top rated</h2>

    <div class="card-container">
        <%= render @top_resources %>
    </div>
    <div class="arrow w-100 d-flex justify-content-end"><i class="fa-solid fa-angles-right"></i></div>

  <h2 class="index-h2">Just for you</h2>
  <div class="card-container">
    <%= render @resources_for_you %>
  </div>
  <div class="arrow w-100 d-flex justify-content-end"><i class="fa-solid fa-angles-right"></i></div>

  <h2 class="index-h2">Discover something new</h2>
   <div class="card-container">
    <%= render @random_resources %>
  </div>
  <div class="arrow w-100 d-flex justify-content-end"><i class="fa-solid fa-angles-right"></i></div>

  <% @user.preference_list.each do |preference| %>
  <h2 class="index-h2"><%= preference %></h2>
  <div class="card-container">
    <%= render @resources.tagged_with(preference) %>
  </div>
  <div class="arrow w-100 d-flex justify-content-end"><i class="fa-solid fa-angles-right"></i></div>
  <% end %>
</div>
