<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path("orange.png") %>)";>
  <div class="container">
    <h1 class="text-white"><strong>Level up your language</strong></h1>
    <p><strong>Welcome to your personalised feed</strong></p>

    <div class="search-field w-50">
      <%= form_tag resources_search_results_path, class: "resource-search d-flex", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control text-input round-left-corners",
          placeholder: "Search"
        %>
        <%= button_tag :submit, class: "btn search-button" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<div class="index-container">

  <h2>Spotlight</h2>
  <div class="spotlight-feature">

    <div class= "flip-container">
      <div class="featured-content">
        <div class= "featured-content-front">
          <img src= "<%= @random_resource.thumbnail_url %>">
        </div>

        <div class="featured-content-back">
          <%= link_to @random_resource do %>
          <h3><strong><%= @random_resource.title %></strong></h3>

          <h4>by <%= @random_resource.author %></h4>
            <i id="video-spotlight-icon" class="fa-solid fa-video"></i>
          <% end %>
          <%# <p>National Geographic en conjunto con Paulina Erandi Ramírez Ochoa, investigadora y curadora del Estudio Museo Casa Diego Rivera y Frida Kahlo, hacen un recorrido dentro del Estudio Museo Casa de Diego Rivera y Frida Kahlo, un espacio de intimidad y trabajo creado por el artista Juan O’Gorman especialmente para Diego y Frida.</p> %>
        </div>
      </div>
    </div>

    <div class= "spotlight-comments">
      <h4>See what the community is saying</h4>
      <%= render "shared/comments", resource: Resource.last %>
    </div>
  </div>


  <h2>Top rated</h2>
    <div class="card-container">
        <%= render @top_resources %>
    </div>
    <div class="arrow w-100 d-flex justify-content-end"><i class="fa-solid fa-angles-right"></i></div>


  <h2>Just for you</h2>
  <div class="card-container">
    <%= render @resources_for_you %>
  </div>
  <div class="arrow w-100 d-flex justify-content-end"><i class="fa-solid fa-angles-right"></i></div>

  <h2>Discover something new</h2>
   <div class="card-container">
    <%= render @random_resources %>
  </div>
  <div class="arrow w-100 d-flex justify-content-end"><i class="fa-solid fa-angles-right"></i></div>

  <h2>Listen now</h2>
  <div class="card-container">
    <%= render @audio_resources %>
  </div>
  <div class="arrow w-100 d-flex justify-content-end"><i class="fa-solid fa-angles-right"></i></div>
</div>
