<%= link_to podcast do %>
<div class="resource-card">
  <div class="resource-header">
    <div class="resource-title-author">
      <div class="resource-title">
        <h5><strong><%= podcast.title %></strong></h5>
      </div>
        <p><%= podcast.author %></p>
    </div>
    <div class="resource-format">
      <p><i class="fa-solid fa-podcast"></i></p>
    </div>
  </div>
  <div class="card-image">
    <img src="<%= podcast.thumbnail_url %>">
    <div class="card-tags">
      <% podcast.tag_list.each do |tag| %>
      <p>
      <%= tag %>
      </p>
      <% end %>
    </div>
    <div class="card-details">
      <div class="resource-likes">
        <p><i class="fa-solid fa-eye"></i></i> <strong><%= podcast.views.count %></strong>  <i class="fa-solid fa-thumbs-up"></i> <strong><%= podcast.likes.count %></strong></p>
      </div>
    </div>
  </div>
</div>
<% end %>
