<div class="container">
  <%= render "shared/resource_title", resource: @resource %>
  <br>

  <div class="d-flex justify-content-between container-lg box-shadow-basic p-5">
    <div class="add-view mt-3">
      <%= render "shared/view_button" %>
    </div>
    <div>
      <iframe src="<%=@resource.url%>" width="580" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
       <div class="d-flex justify-content-between">
        <%= render "shared/reviews", resource: @resource %>
     </div>
  </div>


    <div class="comments-container ml-4">
      <%= render "shared/comments", resource: @resource %>
      <%= render "shared/new_comment_form", resource: @resource %>
    </div>
  </div>

  <div>

  </div>
  <br>
  <br>
  <br>
</div>
