<div class="container-transp">

  <%= render "shared/resource_title", resource: @resource %>

  <div class="d-flex justify-content-between">

    <div class="resource-comments-container">
      <iframe src="<%=@resource.url%>" width="100%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      <%= render "shared/interactions" %>
      <div class="comments-container">
        <h2 class="pb-2">Comments</h2>
        <%= render "shared/comments", resource: @resource %>
        <%= render "shared/new_comment_form", resource: @resource %>
      </div>
    </div>

    <div class="sidebar">
      <%= render "shared/reviews", resource: @resource %>
    </div>
  </div>
</div>
